$phone-breakpt: 320px;
$tablet-breakpt: 768px;
$desktop-breakpt: 1440px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Avenir Next", sans-serif;
}

@mixin h1-herofont {
  font-size: 60px;
  line-height: 68px;
}

@mixin h1-font {
  font-size: 36px;
  line-height: 44px;
}

@mixin h3-font {
  font-size: 16px;
  line-height: 24px;
}
@mixin h4-font {
  font-size: 14px;
  line-height: 22px;
}

@mixin h5-font {
  font-size: 12px;
  line-height: 20px;
  color: #999999;
}



.inventory__font,
.location__font {
  padding-bottom: 16px;
}
.inventorylist__container,
.locationlist__container {
  @media only screen and (min-width: $tablet-breakpt) {
    padding: 80px 24px 0px 24px; /*delete 80px when navbar is added*/
  }
  @media only screen and (min-width: $desktop-breakpt) {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    padding: 80px 180px 0px 180px; /*delete 80px when navbar is added*/
  }
}
.inventorylist__wrapper,
.locationlist__wrapper {
  @media only screen and (max-width: $tablet-breakpt) {
    padding: 0px 16px;
  }

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 48px;
}

td {

  border-bottom: 2px solid #afafaf;

  text-align: left;
  padding: 24px 0px;
  @include h3-font;


}
.description__font {
  @include h4-font;
  font-weight: normal;
}

table.Inventorytable,
table.Locationtable {
  border-collapse: collapse;
  width: 100%;

}

th {
  text-align: left;
  @include h5-font;
}

td:first-child {
  font-weight: bold;
}

td:last-child {
}

.search {
  border: 1px solid grey;
  min-width: 252px;
  height: 48px;


.search {
  border: 1px solid grey;
  min-width: 252px;

}

::placeholder {
  color: black;

}

input.search {
  padding: 16px;
  border-radius: 8px;
  height: 48px;
  background-image: url("../Assets/Icons/Icon-search.svg");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  text-indent: 20px;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  #card table th {
    display: none;
  }

  #card table tr {
    display: block;
    margin-bottom: 20px;
  }

  #card table td {
    padding: 12px;
    display: block;

    width: 100%;
    border-bottom: none;
    @include h4-font;
  }


  #card table td::before {
    content: attr(data-label);
    float: left;
    padding-bottom: 16px;
    width: 100%;
    @include h5-font;
    font-weight: bold;
  }

  form {
    width: 100%;
  }

  td:last-child {
    display: none !important;
  }
  td:nth-child(5) {
    border-bottom: 2px solid #afafaf !important;
  }
}