.location__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.locations {
  width: 100%;
}

.location__container {
  margin: 0 16px;
}

@media only screen and (min-width: 768px) {
  .location__container {
    margin: 0 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .location__container {
    margin: 0 180px;
  }
}

.location__header {
  margin: 32px 0;
}

@media only screen and (min-width: 768px) {
  .location__header {
    margin: 48px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.location__title {
  margin-bottom: 16px;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.location__details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 1440px) {
  .location__details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {
  .location__bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.location h4 {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}

#location__name {
  font-weight: 600;
}

#location__manager--title {
  font-style: italic;
}

.location__section {
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .location__section {
    max-width: 300px;
  }
}

@media only screen and (min-width: 1440px) {
  .location__section {
    min-width: 250px;
  }
}

.location__arrow {
  padding: 0 20px;
}

.location__hr {
  margin-bottom: 24px;
}

.search {
  padding: 16px;
  border-radius: 8px;
  height: 25px;
  background-image: url("../../Assets/Icons/Icon-search.svg");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  text-indent: 20px;
}

.locationDetails__top {
  margin: 0 16px;
}

@media only screen and (min-width: 768px) {
  .locationDetails__top {
    margin: 0 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .locationDetails__top {
    margin: 0 180px;
  }
}

.locationDetails h1 {
  font-size: 24px;
  font-weight: bold;
}

.locationDetails h4 {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}

.locationDetails h5 {
  font-size: 12px;
  line-height: 20px;
  color: #999999;
  font-weight: 600;
}

.locationDetails__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 0;
}

.locationDetails__header img {
  margin-right: 20px;
}

.locationDetails__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .locationDetails__contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.locationDetails__top--section {
  margin-bottom: 24px;
  max-width: 135px;
}

@media only screen and (min-width: 768px) {
  .locationDetails__top--section {
    margin-right: 25%;
  }
}

.locationDetails__label {
  margin-bottom: 12px;
}

.locationDetails__body--top {
  margin-bottom: 14px;
}

.locationDetails__inventory--container {
  background-color: #fafafa;
}

.locationDetails__inventory {
  margin: 0 16px;
  padding-top: 24px;
}

@media only screen and (min-width: 768px) {
  .locationDetails__inventory {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .locationDetails__inventory {
    margin: 0 180px;
  }
}

#locationDetails__productName {
  font-weight: 600;
}

.locationDetails__inventory--section {
  margin-bottom: 12px;
}

@media only screen and (min-width: 768px) {
  .locationDetails__inventory--section {
    max-width: 210px;
  }
}

@media only screen and (min-width: 1440px) {
  .locationDetails__inventory--section {
    max-width: 405px;
  }
}

.locationDetails hr {
  margin: 24px 16px 0 16px;
}

@media only screen and (min-width: 768px) {
  .locationDetails hr {
    margin: 24px 24px 0 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .locationDetails hr {
    margin: 24px 180px 0 180px;
  }
}

@media only screen and (max-width: 768px) {
  #locationDetails__kebab {
    display: none;
  }
}
/*# sourceMappingURL=WarehouseDetails.css.map */