* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Avenir Next", sans-serif;
}

.inventory__font {
  margin-bottom: 16px;
}

.inventorylist__container {
  margin: 0 16px;
}

@media only screen and (min-width: 768px) {
  .inventorylist__container {
    margin: 0 24px;
  }
}

.inventorylist__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}

@media only screen and (min-width: 320px) {
  .inventorylist__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.search {
  border: 1px solid grey;
  min-width: 252px;
  height: 48px;
}

.search .search {
  border: 1px solid grey;
  min-width: 252px;
}

.search ::-webkit-input-placeholder {
  color: black;
}

.search :-ms-input-placeholder {
  color: black;
}

.search ::-ms-input-placeholder {
  color: black;
}

.search ::placeholder {
  color: black;
}

input.search {
  padding: 16px;
  border-radius: 8px;
  height: 48px;
  background-image: url("../../Assets//Icons/Icon-search.svg");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  text-indent: 20px;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .card table th {
    display: none;
  }
  .card table tr {
    display: block;
    margin-bottom: 20px;
  }
  .card table td {
    display: block;
    width: 100%;
    border-bottom: none;
    font-size: 14px;
    line-height: 22px;
  }
  .card table td::before {
    content: attr(data-label);
    float: left;
    padding-bottom: 16px;
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #999999;
    font-weight: bold;
  }
  form {
    width: 100%;
  }
  td:last-child {
    display: none !important;
  }
  td:nth-child(5) {
    border-bottom: 2px solid #afafaf !important;
  }
}

input.search {
  padding: 16px;
  border-radius: 8px;
  height: 25px;
  background-image: url("../../Assets//Icons/Icon-search.svg");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  text-indent: 20px;
}

td {
  border-bottom: 2px solid #afafaf;
  text-align: left;
  padding: 24px 0px;
  font-size: 16px;
  line-height: 24px;
}

.description__font {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}

table.Inventorytable {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  color: #999999;
}

td:first-child {
  font-weight: bold;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .card table th {
    display: none;
  }
  .card table td {
    padding: 12px 0px;
    display: block;
    width: 100%;
    border-bottom: none;
    font-size: 14px;
    line-height: 22px;
  }
  .card table td::before {
    content: attr(data-label);
    float: left;
    padding-bottom: 16px;
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #999999;
    font-weight: bold;
  }
  td:last-child {
    display: none !important;
  }
  td:nth-child(5) {
    border-bottom: 2px solid #afafaf !important;
  }
}
/*# sourceMappingURL=InventoryItem.css.map */