@import "../Inventory/Inventory.scss";

td {
  border-bottom: 2px solid #afafaf;
  

  text-align: left;
  padding: 24px 0px;
  @include h3-font;
}
.description__font {
  @include h4-font;
  font-weight: normal;
}

table.Inventorytable {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  @include h5-font;
}

td:first-child {
  font-weight: bold;
}

#link__color--black {
  text-decoration: none;
  color: black;
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .card table th {
    display: none;
  }

  .card table td {
    padding: 12px 0px;
    display: block;

    width: 100%;
    border-bottom: none;
    @include h4-font;
  }

  .card table td::before {
    content: attr(data-label);
    float: left;
    padding-bottom: 16px;
    width: 100%;
    @include h5-font;
    font-weight: bold;
  }

  td:last-child {
    display: none !important;
  }
  td:nth-child(5) {
    border-bottom: 2px solid #afafaf !important;
  }
}


.hide {
    display:none;
}

.show {
    display:block;
    border:solid 1px #afafaf;
    border-radius: 3px;
    top: 1.9rem;
    right: 0rem;
    padding: 1rem;
    background-color: white;
    padding-right:3rem;
    box-shadow: 11px 18px 19px 4px rgba(221, 217, 217, .3);
}

.dropdown {
    display:flex;
    position: relative;
    flex-direction: column;
    div { 
        text-decoration: none;
        color: black;
        position: absolute;
    }
}
.pointer {
    cursor:pointer;
}
