@import "../Inventory/Inventory.scss";

td {
  border-bottom: 2px solid #afafaf;
  

  text-align: left;
  padding: 24px 0px;
  @include h3-font;
}
.description__font {
  @include h4-font;
  font-weight: normal;
}

table.Inventorytable {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  @include h5-font;
}

td:first-child {
  font-weight: bold;
}

#link__color--black {
  text-decoration: none;
  color: black;
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .card table th {
    display: none;
  }

  .card table td {
    padding: 12px 0px;
    display: block;

    width: 100%;
    border-bottom: none;
    @include h4-font;
  }

  .card table td::before {
    content: attr(data-label);
    float: left;
    padding-bottom: 16px;
    width: 100%;
    @include h5-font;
    font-weight: bold;
  }

  td:last-child {
    display: none !important;
  }
  td:nth-child(5) {
    border-bottom: 2px solid #afafaf !important;
  }
}
.dropdown {
  position:relative;
  cursor: pointer;
}
.hide {
  display:none;
}

.show {
  position: absolute;
  padding: 1rem;
  right: 1rem;
  background-color: white;
  border: 1px #afafaf solid;
  padding-right: 4rem;
  border-radius: 3px;
  cursor: pointer;
}

.show:hover {
  background-color:grey
}
