.hide {
    display:none;
}

.show {
    display:block;
    border:solid 1px #afafaf;
    border-radius: 3px;
    top: 1.9rem;
    right: 0rem;
    padding: 1rem;
    background-color: white;
    padding-right:3rem;
    box-shadow: 11px 18px 19px 4px rgba(221, 217, 217, .3);
}

.dropdown {
    display:flex;
    position: relative;
    flex-direction: column;
    div { 
        text-decoration: none;
        color: black;
        position: absolute;
    }
}
.pointer {
    cursor:pointer;
}