body {
  overflow-y: scroll;
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-around;

  a {
    text-decoration: none;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #323232;
    padding-bottom: 16px;
  }
}

.white__underline {
  border-bottom: 3px solid white;
}
.logo__container {
  margin-top: 16px;
  margin-bottom: 8px;
}

header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    align-items: baseline;
    height: 80px;
    .logo__container {
      margin: 1rem 1rem;
    }

    nav {
      width: 50%;
      a {
        padding: 27.5px 0;
      }
    }
  }
}
