@import "../Warehouses/Warehouses.scss";

.AddWarehouse {
  h1 {
    @include h1-font;
    font-size: 24px;
    margin: 28px 0;
    @media only screen and (min-width: $break-tablet) {
      @include h1-font;
    }
  }
  h5 {
    @include h5-font;
    font-weight: 600;
  }
  .input {
    width: 100%;
    height: 48px;
    border: 2px solid #afafaf;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 16px;
    font-size: 12px;
    outline: none;
    @media only screen and (min-width: $break-tablet) {
      width: 220px;
    }
  }
  .description {
    height: 80px;
    @media only screen and (min-width: $break-tablet) {
      width: 480px;
    }
  }
  .add__actionButton {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: $break-tablet) {
      flex-direction: row-reverse;
      justify-content: flex-start;
    }
  }
  .btn-action {
    height: 48px;
    @media only screen and (min-width: $break-tablet) {
      width: 160px;
    }
  }
  .btn-save {
    color: white;
    background-color: #004892;
    border-radius: 5px;
  }
  .btn-cancel {
    background-color: white;
    color: #004892;
    border: none;
  }
}

.add__address {
  @media only screen and (min-width: $break-tablet) {
    display: flex;
    flex-direction: row;
  }
}

.add__address,
.add__contact--info,
.add__contact--name {
  @media only screen and (min-width: $break-tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
